/* universal box-sizing */
html {
    box-sizing: border-box;
}

*, *::before, *:after {
    box-sizing: inherit;
}
/* css variables */
:root {
    --border-color:  rgb(61, 61, 61);
    --content-width: 900px;
}

.body__main_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    flex-direction: column;
    text-align: center;
}

/* table */
.user_table-title {
    margin: 1rem;
    font-size: 2rem;
}

.main__user_table {
    width: var(--content-width);
    border-collapse: collapse;
    text-align: left;
}

.user_table-headers {
    background-color: rgba(53, 191, 255, 0.582);
}

.main__user_table th, .main__user_table td {
    border: 1px solid var(--border-color);
    padding: 0.35rem;
}

.table-user {
    color: rgb(3, 94, 231);
    cursor: pointer;
}

.table-user:hover {
    text-decoration: underline;
}

/* Posts */
.posts_title {
    font-weight: 300;
    margin: 1rem;
    font-size: 2rem;
}

#posts {
    padding: 1rem;
    text-align: left;
    overflow-y: auto;
    border: 1px solid var(--border-color);
    width: var(--content-width);
    height: 400px; 
}

.post_title {
    font-size: 1rem;
    color: red;
}

.post_text {
    font-style: italic;
    margin: 0 0 2rem 0;
}